body {
  font-size: 9pt;
  line-height: 1.2;
  column-count: 1;
  column-gap: 0.3in;
  margin: 0cm;
  padding: 0%;
}

h1 {
  font-size: 12pt;
  font-weight: bold;
}

h2 {
  font-size: 11pt;
  font-weight: bold;
}

h3 {
  font-size: 10pt;
  font-weight: bold;
}

h4 {
  font-size: 9pt;
  font-weight: bold;
}

h5 {
  font-size: 9pt;
  font-weight: bold;
  color: #777;
}

h6 {
  font-size: 9pt;
  font-weight: bold;
  color: #999;
}

small {
  font-size: 6pt;
}

code {
  font-size: 8pt;
  line-height: 1.2;
}

pre:not(.hljs),
pre.hljs code > div {
	padding: 2pt;
	line-height: 1.0;
}

pre:not(.hljs) {
	padding: 4pt;
}

/* https://github.com/hanggrian/markdown-pdf-styles/blob/main/styles/column-two.css */